.scroll-list {
    width: 200px;
    overflow: auto;
}

.left {
    float: left;
}

.click:hover {
    cursor: pointer;
    color: red;
}

.clear {
    clear:both;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-message{
    color: #D04E34;
    font-style: italic;
}

